In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')
df = train.append(test)
df.set_index('id',inplace=True)
df.head(2)

,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14,target
id,,,,,,,,,,,,,,,
1,0.670390,0.811300,0.643968,0.291791,0.284117,0.855953,0.890700,0.285542,0.558245,0.779418,0.921832,0.866772,0.878733,0.305411,7.243043
3,0.388053,0.621104,0.686102,0.501149,0.643790,0.449805,0.510824,0.580748,0.418335,0.432632,0.439872,0.434971,0.369957,0.369484,8.203331

# EDA
---

There some variables correlated but any of them above 0.9 for other we can deal with it using l1 or l2 penalty

In [3]:
corr_analysis = pd.melt(df.corr(),var_name='variable2',value_name='corr',ignore_index=False).reset_index().rename(columns={'index':'variable1'})
corr_analysis.query('variable1 != variable2',inplace=True)
corr_analysis['corrabs'] = corr_analysis['corr'].abs()
corr_analysis['varTuple'] = corr_analysis.apply(lambda x: str(sorted([x['variable1'],x['variable2']])),axis=1)
corr_analysis.drop_duplicates(["varTuple"],inplace=True)
corr_analysis.sort_values("corrabs").tail(7)

    variable1 variable2      corr   corrabs              varTuple
129    cont10     cont9  0.725733  0.725733   ['cont10', 'cont9']
85     cont11     cont6  0.737542  0.737542   ['cont11', 'cont6']
86     cont12     cont6  0.756768  0.756768   ['cont12', 'cont6']
84     cont10     cont6  0.771422  0.771422   ['cont10', 'cont6']
87     cont13     cont6  0.784373  0.784373   ['cont13', 'cont6']
8       cont9     cont1  0.793965  0.793965    ['cont1', 'cont9']
161    cont12    cont11  0.825740  0.825740  ['cont11', 'cont12']

# Model Development

---

## Feature Engineering 1

### Polynomial Features

### Multiplied Features

## Cross Validation

We gonna apply Kfold as our CV strategy

In [8]:
train = df.dropna()
train

,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14,target
id,,,,,,,,,,,,,,,
1,0.670390,0.811300,0.643968,0.291791,0.284117,0.855953,0.890700,0.285542,0.558245,0.779418,0.921832,0.866772,0.878733,0.305411,7.243043
3,0.388053,0.621104,0.686102,0.501149,0.643790,0.449805,0.510824,0.580748,0.418335,0.432632,0.439872,0.434971,0.369957,0.369484,8.203331
4,0.834950,0.227436,0.301584,0.293408,0.606839,0.829175,0.506143,0.558771,0.587603,0.823312,0.567007,0.677708,0.882938,0.303047,7.776091
5,0.820708,0.160155,0.546887,0.726104,0.282444,0.785108,0.752758,0.823267,0.574466,0.580843,0.769594,0.818143,0.914281,0.279528,6.957716
8,0.935278,0.421235,0.303801,0.880214,0.665610,0.830131,0.487113,0.604157,0.874658,0.863427,0.983575,0.900464,0.935918,0.435772,7.951046
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,0.216974,0.735265,0.648648,0.255387,0.616353,0.345197,0.295718,0.304357,0.314351,0.860504,0.315397,0.247682,0.486542,0.288750,7.385215
499996,0.545799,0.165139,0.220966,0.190053,0.359362,0.386336,0.365767,0.344217,0.466446,0.454581,0.360251,0.360755,0.292535,0.619984,7.242617
499997,0.284401,0.841542,0.957585,0.340383,0.396279,0.330376,0.525687,0.260039,0.378174,0.526925,0.491735,0.516629,0.173521,0.714552,9.592487
499998,0.481900,0.622346,0.540032,0.823118,0.283066,0.434283,0.174342,0.710843,0.358690,0.648272,0.984647,1.001110,0.063956,0.377693,8.207951
499999,0.486632,0.230090,0.543587,0.263878,0.279118,0.636295,0.472391,0.339654,0.444787,0.636765,0.782196,0.559692,0.762954,0.215539,8.890285

In [35]:
from sklearn.model_selection import KFold,GridSearchCV,train_test_split
cv = KFold(2,shuffle=True,random_state=42)
x = train.drop('target',axis=1)
y = train['target']
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.1, random_state=42)

## Hyperparameter Tunning

In [36]:
from sklearn.linear_model import ElasticNet
from sklearn.tree import DecisionTreeRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.experimental import enable_hist_gradient_boosting
from sklearn.ensemble import HistGradientBoostingRegressor

In [37]:
params_dict = {
    "ElasticNet":{
        'alpha':[0,0.3,0.5,0.7,1],
        'l1_ratio':[0,0.3,0.5,0.7,1],
    },
    "DecisionTreeRegressor":{
        'max_depth':[20,40,70,100,130],
        'min_samples_split':[20,100,300,1000]
    },
    "MLPRegressor":{
        "hidden_layer_sizes":[(100,),(200,),(400,),(1000,)],
        "alpha":[0.0001,0.001,0.01,0.1]
    }
}

model_dict = {
    "ElasticNet":GridSearchCV(ElasticNet(),param_grid=params_dict["ElasticNet"],cv=cv),
    "DecisionTreeRegressor":GridSearchCV(DecisionTreeRegressor(),param_grid=params_dict["DecisionTreeRegressor"],cv=cv,verbose=100,return_train_score=True),
    "MLPRegressor":GridSearchCV(MLPRegressor(),param_grid=params_dict["MLPRegressor"],cv=cv),
}

In [37]:
model = LinearRegression()
model.fit(train.drop('target',axis=1),train['target'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [45]:
#train.set_index('id',inplace=True)

## Models

We gonna get the results from the models and use them as variables to the next level of the model and drop the others

In [34]:
#model_dict["ElasticNet"].fit(X_train,y_train)

In [38]:
model_dict["DecisionTreeRegressor"].fit(X_train,y_train)

Fitting 2 folds for each of 20 candidates, totalling 40 fits
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[CV] max_depth=20, min_samples_split=20 ..............................
[CV]  max_depth=20, min_samples_split=20, score=(train=0.423, test=-0.296), total=   4.3s
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    4.2s remaining:    0.0s
[CV] max_depth=20, min_samples_split=20 ..............................
[CV]  max_depth=20, min_samples_split=20, score=(train=0.417, test=-0.279), total=   4.3s
[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    8.6s remaining:    0.0s
[CV] max_depth=20, min_samples_split=100 .............................
[CV]  max_depth=20, min_samples_split=100, score=(train=0.217, test=-0.088), total=   4.0s
[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:   12.7s remaining:    0.0s
[CV] max_depth=20, min_samples_split=100 .............................
[CV]  max_depth=20, min_samples_split=100, score=(train=0.218, test=-0.080), total=   4.1s
[Parallel(n_jobs=1)]: Done   4 out of   4 | elapsed:   16.8s remaining:    0.0s
[CV] max_depth=20, min_samples_split=300 .............................
[CV]  max_depth=20, min_samples_split=300, score=(train=0.129, test=-0.007), total=   3.7s
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:   20.5s remaining:    0.0s
[CV] max_depth=20, min_samples_split=300 .............................
[CV]  max_depth=20, min_samples_split=300, score=(train=0.132, test=-0.003), total=   3.8s
[Parallel(n_jobs=1)]: Done   6 out of   6 | elapsed:   24.3s remaining:    0.0s
[CV] max_depth=20, min_samples_split=1000 ............................
[CV]  max_depth=20, min_samples_split=1000, score=(train=0.074, test=0.031), total=   3.1s
[Parallel(n_jobs=1)]: Done   7 out of   7 | elapsed:   27.4s remaining:    0.0s
[CV] max_depth=20, min_samples_split=1000 ............................
[CV]  max_depth=20, min_samples_split=1000, score=(train=0.076, test=0.034), total=   3.0s
[Parallel(n_jobs=1)]: Done   8 out of   8 | elapsed:   30.5s remaining:    0.0s
[CV] max_depth=40, min_samples_split=20 ..............................
[CV]  max_depth=40, min_samples_split=20, score=(train=0.623, test=-0.497), total=   4.8s
[Parallel(n_jobs=1)]: Done   9 out of   9 | elapsed:   35.4s remaining:    0.0s
[CV] max_depth=40, min_samples_split=20 ..............................
[CV]  max_depth=40, min_samples_split=20, score=(train=0.621, test=-0.490), total=   4.9s
[Parallel(n_jobs=1)]: Done  10 out of  10 | elapsed:   40.4s remaining:    0.0s
[CV] max_depth=40, min_samples_split=100 .............................
[CV]  max_depth=40, min_samples_split=100, score=(train=0.254, test=-0.124), total=   4.3s
[Parallel(n_jobs=1)]: Done  11 out of  11 | elapsed:   44.7s remaining:    0.0s
[CV] max_depth=40, min_samples_split=100 .............................
[CV]  max_depth=40, min_samples_split=100, score=(train=0.256, test=-0.122), total=   4.3s
[Parallel(n_jobs=1)]: Done  12 out of  12 | elapsed:   49.1s remaining:    0.0s
[CV] max_depth=40, min_samples_split=300 .............................
[CV]  max_depth=40, min_samples_split=300, score=(train=0.136, test=-0.013), total=   3.9s
[Parallel(n_jobs=1)]: Done  13 out of  13 | elapsed:   53.0s remaining:    0.0s
[CV] max_depth=40, min_samples_split=300 .............................
[CV]  max_depth=40, min_samples_split=300, score=(train=0.138, test=-0.009), total=   3.9s
[Parallel(n_jobs=1)]: Done  14 out of  14 | elapsed:   57.0s remaining:    0.0s
[CV] max_depth=40, min_samples_split=1000 ............................
[CV]  max_depth=40, min_samples_split=1000, score=(train=0.074, test=0.031), total=   3.1s
[Parallel(n_jobs=1)]: Done  15 out of  15 | elapsed:  1.0min remaining:    0.0s
[CV] max_depth=40, min_samples_split=1000 ............................
[CV]  max_depth=40, min_samples_split=1000, score=(train=0.076, test=0.034), total=   3.1s
[Parallel(n_jobs=1)]: Done  16 out of  16 | elapsed:  1.1min remaining:    0.0s
[CV] max_depth=70, min_samples_split=20 ..............................
[CV]  max_depth=70, min_samples_split=20, score=(train=0.624, test=-0.498), total=   4.9s
[Parallel(n_jobs=1)]: Done  17 out of  17 | elapsed:  1.1min remaining:    0.0s
[CV] max_depth=70, min_samples_split=20 ..............................
[CV]  max_depth=70, min_samples_split=20, score=(train=0.622, test=-0.492), total=   5.1s
[Parallel(n_jobs=1)]: Done  18 out of  18 | elapsed:  1.2min remaining:    0.0s
[CV] max_depth=70, min_samples_split=100 .............................
[CV]  max_depth=70, min_samples_split=100, score=(train=0.254, test=-0.124), total=   4.6s
[Parallel(n_jobs=1)]: Done  19 out of  19 | elapsed:  1.3min remaining:    0.0s
[CV] max_depth=70, min_samples_split=100 .............................
[CV]  max_depth=70, min_samples_split=100, score=(train=0.256, test=-0.122), total=   4.6s
[Parallel(n_jobs=1)]: Done  20 out of  20 | elapsed:  1.4min remaining:    0.0s
[CV] max_depth=70, min_samples_split=300 .............................
[CV]  max_depth=70, min_samples_split=300, score=(train=0.136, test=-0.013), total=   4.1s
[Parallel(n_jobs=1)]: Done  21 out of  21 | elapsed:  1.4min remaining:    0.0s
[CV] max_depth=70, min_samples_split=300 .............................
[CV]  max_depth=70, min_samples_split=300, score=(train=0.138, test=-0.009), total=   4.1s
[Parallel(n_jobs=1)]: Done  22 out of  22 | elapsed:  1.5min remaining:    0.0s
[CV] max_depth=70, min_samples_split=1000 ............................
[CV]  max_depth=70, min_samples_split=1000, score=(train=0.074, test=0.031), total=   3.3s
[Parallel(n_jobs=1)]: Done  23 out of  23 | elapsed:  1.6min remaining:    0.0s
[CV] max_depth=70, min_samples_split=1000 ............................
[CV]  max_depth=70, min_samples_split=1000, score=(train=0.076, test=0.034), total=   3.3s
[Parallel(n_jobs=1)]: Done  24 out of  24 | elapsed:  1.6min remaining:    0.0s
[CV] max_depth=100, min_samples_split=20 .............................
[CV]  max_depth=100, min_samples_split=20, score=(train=0.624, test=-0.497), total=   5.1s
[Parallel(n_jobs=1)]: Done  25 out of  25 | elapsed:  1.7min remaining:    0.0s
[CV] max_depth=100, min_samples_split=20 .............................
[CV]  max_depth=100, min_samples_split=20, score=(train=0.622, test=-0.492), total=   5.2s
[Parallel(n_jobs=1)]: Done  26 out of  26 | elapsed:  1.8min remaining:    0.0s
[CV] max_depth=100, min_samples_split=100 ............................
[CV]  max_depth=100, min_samples_split=100, score=(train=0.254, test=-0.124), total=   4.7s
[Parallel(n_jobs=1)]: Done  27 out of  27 | elapsed:  1.9min remaining:    0.0s
[CV] max_depth=100, min_samples_split=100 ............................
[CV]  max_depth=100, min_samples_split=100, score=(train=0.256, test=-0.122), total=   4.4s
[Parallel(n_jobs=1)]: Done  28 out of  28 | elapsed:  2.0min remaining:    0.0s
[CV] max_depth=100, min_samples_split=300 ............................
[CV]  max_depth=100, min_samples_split=300, score=(train=0.136, test=-0.013), total=   3.8s
[Parallel(n_jobs=1)]: Done  29 out of  29 | elapsed:  2.0min remaining:    0.0s
[CV] max_depth=100, min_samples_split=300 ............................
[CV]  max_depth=100, min_samples_split=300, score=(train=0.138, test=-0.009), total=   3.8s
[Parallel(n_jobs=1)]: Done  30 out of  30 | elapsed:  2.1min remaining:    0.0s
[CV] max_depth=100, min_samples_split=1000 ...........................
[CV]  max_depth=100, min_samples_split=1000, score=(train=0.074, test=0.031), total=   3.1s
[Parallel(n_jobs=1)]: Done  31 out of  31 | elapsed:  2.1min remaining:    0.0s
[CV] max_depth=100, min_samples_split=1000 ...........................
[CV]  max_depth=100, min_samples_split=1000, score=(train=0.076, test=0.034), total=   3.1s
[Parallel(n_jobs=1)]: Done  32 out of  32 | elapsed:  2.2min remaining:    0.0s
[CV] max_depth=130, min_samples_split=20 .............................
[CV]  max_depth=130, min_samples_split=20, score=(train=0.624, test=-0.498), total=   4.8s
[Parallel(n_jobs=1)]: Done  33 out of  33 | elapsed:  2.3min remaining:    0.0s
[CV] max_depth=130, min_samples_split=20 .............................

[CV]  max_depth=130, min_samples_split=20, score=(train=0.622, test=-0.491), total=   4.8s
[Parallel(n_jobs=1)]: Done  34 out of  34 | elapsed:  2.4min remaining:    0.0s
[CV] max_depth=130, min_samples_split=100 ............................
[CV]  max_depth=130, min_samples_split=100, score=(train=0.254, test=-0.124), total=   4.6s
[Parallel(n_jobs=1)]: Done  35 out of  35 | elapsed:  2.4min remaining:    0.0s
[CV] max_depth=130, min_samples_split=100 ............................
[CV]  max_depth=130, min_samples_split=100, score=(train=0.256, test=-0.122), total=   4.4s
[Parallel(n_jobs=1)]: Done  36 out of  36 | elapsed:  2.5min remaining:    0.0s
[CV] max_depth=130, min_samples_split=300 ............................
[CV]  max_depth=130, min_samples_split=300, score=(train=0.136, test=-0.013), total=   4.1s
[Parallel(n_jobs=1)]: Done  37 out of  37 | elapsed:  2.6min remaining:    0.0s
[CV] max_depth=130, min_samples_split=300 ............................
[CV]  max_depth=130, min_samples_split=300, score=(train=0.138, test=-0.009), total=   4.0s
[Parallel(n_jobs=1)]: Done  38 out of  38 | elapsed:  2.6min remaining:    0.0s
[CV] max_depth=130, min_samples_split=1000 ...........................
[CV]  max_depth=130, min_samples_split=1000, score=(train=0.074, test=0.031), total=   3.4s
[Parallel(n_jobs=1)]: Done  39 out of  39 | elapsed:  2.7min remaining:    0.0s
[CV] max_depth=130, min_samples_split=1000 ...........................
[CV]  max_depth=130, min_samples_split=1000, score=(train=0.076, test=0.034), total=   3.1s
[Parallel(n_jobs=1)]: Done  40 out of  40 | elapsed:  2.7min remaining:    0.0s
[Parallel(n_jobs=1)]: Done  40 out of  40 | elapsed:  2.7min finished

GridSearchCV(cv=KFold(n_splits=2, random_state=42, shuffle=True),
             error_score='raise-deprecating',
             estimator=DecisionTreeRegressor(criterion='mse', max_depth=None,
                                             max_features=None,
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             presort=False, random_state=None,
                                             splitter='best'),
             iid='warn', n_jobs=None,
             param_grid={'max_depth': [20, 40, 70, 100, 130],
                         'min_samples_split': [20, 100, 300, 1000]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
             scoring=None, verbose=100)

In [41]:
results = pd.DataFrame(model_dict["DecisionTreeRegressor"].cv_results_)
results[['mean_test_score','mean_test_score']]

    mean_test_score  mean_test_score
0         -0.287312        -0.287312
1         -0.083999        -0.083999
2         -0.005081        -0.005081
3          0.032700         0.032700
4         -0.493446        -0.493446
5         -0.123019        -0.123019
6         -0.010962        -0.010962
7          0.032677         0.032677
8         -0.494783        -0.494783
9         -0.122952        -0.122952
10        -0.010907        -0.010907
11         0.032677         0.032677
12        -0.494758        -0.494758
13        -0.123011        -0.123011
14        -0.010962        -0.010962
15         0.032677         0.032677
16        -0.494745        -0.494745
17        -0.123042        -0.123042
18        -0.010962        -0.010962
19         0.032677         0.032677

## Feature Engineering 2

### Polynomial Features

### Multiplied Features

## Ensembles

## Model Evaluation

In [43]:
test

,id,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14
0,0,0.353600,0.738780,0.600939,0.293377,0.285691,0.458006,0.620704,0.422249,0.369203,0.435727,0.550540,0.699134,0.286864,0.364515
1,2,0.907222,0.189756,0.215531,0.869915,0.301333,0.528958,0.390351,0.521112,0.794779,0.798580,0.446475,0.449037,0.916964,0.513002
2,6,0.179287,0.355353,0.623972,0.437812,0.282476,0.320826,0.386789,0.776422,0.222268,0.229102,0.211913,0.222651,0.327164,0.827941
3,7,0.359385,0.181049,0.551368,0.206386,0.280763,0.482076,0.506677,0.362793,0.379737,0.345686,0.445276,0.518485,0.299028,0.598166
4,10,0.335791,0.682607,0.676481,0.219465,0.282861,0.581721,0.748639,0.350158,0.448915,0.506878,0.817721,0.805895,0.790591,0.249275
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,499984,0.353856,0.677578,0.550852,0.869612,0.957635,0.255054,0.289138,0.635979,0.271399,0.282455,0.217169,0.219088,0.373261,0.272479
199996,499985,0.243209,0.135627,0.218393,0.792798,0.547639,0.433520,0.549540,0.650107,0.453787,0.459689,0.450424,0.511176,0.318334,0.395747
199997,499987,0.506973,0.683893,0.533434,0.192957,0.314381,0.358604,0.554455,0.267105,0.396101,0.445390,0.382656,0.397978,0.381235,0.369464
199998,499988,0.347870,0.553112,0.495284,0.861500,0.816914,0.298478,0.275964,0.265841,0.334250,0.252635,0.213589,0.285223,0.336772,0.388505
199999,499990,0.688188,0.358328,0.644511,0.766354,0.747591,0.727329,0.468329,0.576711,0.453124,0.381600,0.299126,0.499627,0.691078,0.668109

In [46]:
model = model_dict["DecisionTreeRegressor"].best_estimator_
model.predict(test)

array([8.19300586, 7.86325472, 7.89021941, ..., 8.19271069, 7.96953126,
       7.77338897])

## Submissions output

In [47]:
submissions = pd.DataFrame(model.predict(test),columns=['target'],index=test.index)
submissions.reset_index(inplace=True)
submissions.to_csv('submissions\DecisionTreeRegressor.csv',index=False)

In [48]:
submissions

            id    target
0            0  8.193006
1            2  7.863255
2            6  7.890219
3            7  8.082923
4           10  8.109815
...        ...       ...
199995  499984  8.076341
199996  499985  7.948479
199997  499987  8.192711
199998  499988  7.969531
199999  499990  7.773389

[200000 rows x 2 columns]