In [25]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')
df = train.append(test)
df.set_index('id',inplace=True)
df.head(2)

,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14,target
id,,,,,,,,,,,,,,,
1,0.670390,0.811300,0.643968,0.291791,0.284117,0.855953,0.890700,0.285542,0.558245,0.779418,0.921832,0.866772,0.878733,0.305411,7.243043
3,0.388053,0.621104,0.686102,0.501149,0.643790,0.449805,0.510824,0.580748,0.418335,0.432632,0.439872,0.434971,0.369957,0.369484,8.203331

# EDA
---

There some variables correlated but any of them above 0.9 for other we can deal with it using l1 or l2 penalty

In [29]:
corr_analysis = pd.melt(df.corr(),var_name='variable2',value_name='corr',ignore_index=False).reset_index().rename(columns={'index':'variable1'})
corr_analysis.query('variable1 != variable2',inplace=True)
corr_analysis['corrabs'] = corr_analysis['corr'].abs()
corr_analysis['varTuple'] = corr_analysis.apply(lambda x: str(sorted([x['variable1'],x['variable2']])),axis=1)
corr_analysis.drop_duplicates(["varTuple"],inplace=True)
corr_analysis.sort_values("corrabs").tail(7)

    variable1 variable2      corr   corrabs              varTuple
129    cont10     cont9  0.725733  0.725733   ['cont10', 'cont9']
85     cont11     cont6  0.737542  0.737542   ['cont11', 'cont6']
86     cont12     cont6  0.756768  0.756768   ['cont12', 'cont6']
84     cont10     cont6  0.771422  0.771422   ['cont10', 'cont6']
87     cont13     cont6  0.784373  0.784373   ['cont13', 'cont6']
8       cont9     cont1  0.793965  0.793965    ['cont1', 'cont9']
161    cont12    cont11  0.825740  0.825740  ['cont11', 'cont12']

# Model Development

---

## Feature Engineering 1

### Polynomial Features

### Multiplied Features

## Cross Validation

We gonna apply Kfold as our CV strategy

In [43]:
from sklearn.model_selection import KFold,GridSearchCV
#from sklearn.metrics import

## Hyperparameter Tunning

In [44]:
from sklearn.linear_model import ridge_regression,LinearRegression,Lasso,ElasticNet

,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14,target
id,,,,,,,,,,,,,,,
1,0.670390,0.811300,0.643968,0.291791,0.284117,0.855953,0.890700,0.285542,0.558245,0.779418,0.921832,0.866772,0.878733,0.305411,7.243043
3,0.388053,0.621104,0.686102,0.501149,0.643790,0.449805,0.510824,0.580748,0.418335,0.432632,0.439872,0.434971,0.369957,0.369484,8.203331
4,0.834950,0.227436,0.301584,0.293408,0.606839,0.829175,0.506143,0.558771,0.587603,0.823312,0.567007,0.677708,0.882938,0.303047,7.776091
5,0.820708,0.160155,0.546887,0.726104,0.282444,0.785108,0.752758,0.823267,0.574466,0.580843,0.769594,0.818143,0.914281,0.279528,6.957716
8,0.935278,0.421235,0.303801,0.880214,0.665610,0.830131,0.487113,0.604157,0.874658,0.863427,0.983575,0.900464,0.935918,0.435772,7.951046
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,0.216974,0.735265,0.648648,0.255387,0.616353,0.345197,0.295718,0.304357,0.314351,0.860504,0.315397,0.247682,0.486542,0.288750,7.385215
499996,0.545799,0.165139,0.220966,0.190053,0.359362,0.386336,0.365767,0.344217,0.466446,0.454581,0.360251,0.360755,0.292535,0.619984,7.242617
499997,0.284401,0.841542,0.957585,0.340383,0.396279,0.330376,0.525687,0.260039,0.378174,0.526925,0.491735,0.516629,0.173521,0.714552,9.592487
499998,0.481900,0.622346,0.540032,0.823118,0.283066,0.434283,0.174342,0.710843,0.358690,0.648272,0.984647,1.001110,0.063956,0.377693,8.207951
499999,0.486632,0.230090,0.543587,0.263878,0.279118,0.636295,0.472391,0.339654,0.444787,0.636765,0.782196,0.559692,0.762954,0.215539,8.890285

In [38]:
#train.set_index('id',inplace=True)
test.set_index('id',inplace=True)

In [37]:
model = LinearRegression()
model.fit(train.drop('target',axis=1),train['target'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

## Models

We gonna get the results from the models and use them as variables to the next level of the model and drop the others

## Feature Engineering 2

### Polynomial Features

### Multiplied Features

## Ensembles

## Model Evaluation

In [ ]:
model.predict(test)

## Submissions output

In [42]:
submissions = pd.DataFrame(model.predict(test),columns=['target'],index=test.index)
submissions.reset_index(inplace=True)
submissions.to_csv('submissions\LinearRegression.csv',index=False)